.blue{
    background-color: #4992ca;
}

.white{
    color:white;
}
.Verygray{
    background-color: #424242;}
 .flex
 {
        display:flex;
    }
.grid{
 display:grid;   
    }
 p{
        font-size:16px;

    }
body{
        font-family: Avenir-Next,Roboto,sans-serif;
    }
    .logo{
        height:30px;
        width:90px;
        
      }.flag{height:20px;
        width:25px;
      }
   
a{
    text-decoration:none;
}
 ul{
      list-style-type: none;
  }
 nav li{
list-style-type: none;
 align-items: center;
 padding:5px;
 }
 nav a{
    color:#7f8c8d;
 }
 nav button{
     border:none;
     background-color: orange;
     height:20px;
     width:90px;color:white;
    
 }

  nav{color:#7f8c8d;
    justify-content:space-between;
     align-items: center;
     max-width:95%;
     margin:auto;
     padding:0;
     margin-bottom: 0;
  }nav i{
    color: #7f8c8d;
    
  }

  .d2{
    background-image: url(" https://i.imgur.com/ksqOx5F.jpg");
    height:900px;
width:100%;
margin:0;padding:0;

  }
  .d21{
      max-width:80%;
      margin:auto;
      height:100%;
  }
  .d2 h1{
      margin-top:0px;
      padding-top: 90px;
   font-size:90px;
   color:white;
  }.overlay{
    background-color: #000000b3;
  }
  .d2 h3{
    font-size:33px;
    color:white;
   }
   .d1{
       background-color:white;
       margin-left:0px;
   }
   .apply{
       background-color: #4992ca;
       color:white;
       border:none;
       width:200px;
       height:50px;
       margin-bottom: 20px;
   }
   .register{
       
       background: transparent;
       width:200px;
       height:50px;
       border: solid #fff;
       border-radius: 2px;
       margin-bottom: 20px;
       color:white;
   }
   .learn{
       background-color:white ;
       color:black;
       border-radius:15px;
       padding:15px;
   }
.d3{
    margin:-1px;
    padding:10px;
    text-align:center;
   
}
.d31{max-width:75%;
    text-align :center;
    font-family: Avenir-Next,Roboto,sans-serif;
    margin:auto;
    }
   .d3 h2{
font-size: 45px;
   }
   .d3 h4{
    font-size: 30px;
   }
   
   .d4{
       text-align: center;
       max-width: 80%;
       margin: auto;

   }
   .d4 h2{
    font-size: 45px;
       }
       .d4 h4{
        font-size: 30px;
       }.flex4{
           display: flex;
           justify-content: flex-end;
       }



.grid{
    display:grid;
    grid-template-columns: 20% 20% 60%;
}

.imaged5{height:150px;
    width:150px; padding:0;margin:0;

}
.logod5{
    padding:0;margin:0;
  height:60px;
    width:120px;
    padding:0;margin:0;
}
.d5{
    max-width:70%;
    margin:auto;
    font-family: Avenir-Next,Roboto,sans-serif;
    
}

.d5 h6{font-size:18px;color:#7f8c8d;padding:0;margin:0;

}
.center{
    text-align:center;
}
.d51 p{
    color:#7f8c8d;font-weight: 100;padding:0;margin:0;
 
}

.d5 h4{font-size:30px;
        text-align:center;
       
        }
        .cir{height:150px;
            width:150px;
             border-radius: 50%;
          }


          #q-and-a{
              text-align: center;
              font-size: 45px;
          }
          .d61{padding-top: 30px;
            padding-bottom: 30px;
              max-width: 80%;
              margin: auto;
          }
          .d61 ul{
              list-style-type:circle;

          }
         .d71{
            max-width: 80%;
            margin: auto;
           
         }
         .dlast h3{
             font-size: 45px;
         }
.d7 button{color:white;
    background-color: transparent;
    border:1px solid white;
    padding:15px;
    width:200px;
    height: 50px;margin-bottom: 50px;
}
.d7 h2{padding-top:50px;
    font-size: 45px;
}
.d91{
     max-width: 70%;
    margin: auto;
    font-family: Avenir-Next,Roboto,sans-serif;
    

}
.d91 h4{
    font-size: 30px;
    padding:25px;
    margin:0;
  
}
.d91 h6{
    font-size: 18px;
    font-weight: 100;
    padding:0;
    margin:0;
}.d91 p{
    padding:0;margin:0;
    font-size: 12px;
 
}
.bor{
    border-radius: 50%;
    padding:10px;
}
.d111{
    max-width: 70%;
    margin: auto;
    font-family: Avenir-Next,Roboto,sans-serif;
    

}.d111 img{
    height:150px;
    width:150px;
}
.d111{
    font-size: 15px;
}.d111 h3{
    font-size:45px;
    padding-top: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
}.flex111{
    display:flex;
    justify-content: space-evenly;
}
.left{
    text-align: left;
}
.d11d{
   height:450px;
    width:450px;
}
.grid11{
    display:grid;
    grid-template-columns: auto auto auto;}
  
    .d121{
        max-width: 85%;
        margin: auto;
    }
    .logod12{
        height:50px;
        width:120px;
    }
    .d13 button{color:white;
        background-color: transparent;
        border:1px solid white;
        padding:15px;
        width:200px;
        height: 50px;margin-bottom: 50px;
    }.d131 h3{
font-size: 45px;
    }
    footer{
        background-color: black;
        color: #7f8c8d;
        text-align: center;
    }
    footer li{
        color:white;
list-style-type: none;

    }a{
        color:white;
    }.flexfooter{
        max-width: 80%;
        margin:auto;
        display:flex;
        justify-content: space-between;
    }
    .t{
        color: #7f8c8d;
    }
    footer li{
        padding:8px;
    }
    footer i{color:white;
    padding:8px;}
    .d81{
  
        margin:auto;
    }.d81 h3{
font-size: 45px;
    }
    .demail{ max-width: 80%;
        margin:auto;

    } .demail h3{padding-top: 50px;
        font-size: 30px;;
    }
    .demail button{
        color:white;
        background-color: transparent;
        border:1px solid white;
        width:200px;
        height: 50px;

    }.demail input{
        width:300px;
        height: 50px;
        border:1px solid white;
        margin-bottom: 20px;

    }.inline{
        display:inline;
    }

    .d101{
        max-width: 80%;
        margin:auto;
    }.d101 h3{
        font-size: 30px;
    }


    
    .card {
        width: 478px; 
        height:500px;
        border: 1px solid rgba(0, 0, 0, 0.125);
        margin: 8px;   line-height:24px;
      }
      
      .card-sub-heading {
        height: 45px;
        color: #3c3333;
        text-align: left;
        font-size: 2rem;
        line-height: 1.2;
        font-weight:700;
      }
      
      .card-body {
        padding: 10px;
      }
      
      .card-header {
        border:0;
        border-top-width: 16px;
        border-style:solid ;
        background-color:rgba(0, 0, 0, 0.03);
        margin-bottom:0;
        border-color:rgba(0, 0, 0, 0.125);border-top-color:#4992ca;
      }.cards_container{
        display:flex;
        justify-content:center;
        align-items:center;
        
      }
      .pokgames1{
          max-width: 60%;
          margin:auto;
      }
      .poki{
          height: 200px;
          width: 150px;
      }
      .pokgames1 h3{
          font-size:45px;
      }.pokgames1 button{
          height: 50px;
          width: 180px;
          border:none;
          border: solid #fff;
          border-radius: 2px;
          
      }.flexp{
          display:flex;
          justify-content: space-evenly;
      }.pw{
          height: 400px;
          width:300px;
      }
      .fontw{
          font-weight: 700;
      }

      .d8h{
          border:0;
          border-top:15px solid #4992ca;
          background-color: #F7F7F7;
          margin:0;
          padding:0px;
      }.d8card{
          border:1px solid #F7F7F7;
        max-width:15%;
          margin:auto;
          margin-bottom: 20px;
          margin-top:0;
        
      }
      .dlast{
        max-width:80%;
        margin:auto;
      }
      
      .dlast1 h1{
         font-size:45px;
      }
      .dlast1 h4{
          font-size:20px;
      }
      .dlast1 table ,th ,td{border:1px solid  #8a8a8a;;
   border-collapse: collapse;


      }
      .dlast td{
          padding:5px;
      }
      .dlast1 table{
          height:350px;
          
      }.glast{
          color: #8a8a8a;;
      }


      tr{padding:5px;
          color: #8a8a8a;;
      }
      th{
          color:black;
      }.bct{
          color:#4992ca;
      } 
      .dlast button{
          height: 60px;
          width:150px;
          border:none;
          border: solid #fff;
          border-radius: 2px;
      }
      .dlastflex{
          display:flex;
          justify-content: space-evenly;
      }



      @media only screen and (max-width: 600px) {
        .flex{
            flex-wrap: wrap;
        }
        .cards_container{
            flex-wrap: wrap;
        }
        .flex4{
            flex-wrap: wrap;
        }
        .flexp{
            flex-wrap: wrap;
        }.flex111{
            flex-wrap: wrap;
        }.flexfooter{
            flex-wrap: wrap;
        }
        nav li{
            padding:25px;
        }
        .d21 h1{font-size: 45px;
            
        }.pokbattle{
            display:block;
        

        }.grid{
            display: block;
        }.grid img{
            text-align: center;
        }
      }
      .d3 i{margin-top:15px;
        font-size: 30px;
        color:white;
        font-size: 30px;
           }